/* stylelint-disable */
@font-face {
  font-family: 'iconfont';  /* project id 819129 */
  src: url('//at.alicdn.com/t/font_819129_2slnk6a0keq.eot');
  src: url('//at.alicdn.com/t/font_819129_2slnk6a0keq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_819129_2slnk6a0keq.woff') format('woff'),
  url('//at.alicdn.com/t/font_819129_2slnk6a0keq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_819129_2slnk6a0keq.svg#iconfont') format('svg');
}
  
  %wl-icon {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* stylelint-enable */
  
  [class^="wl-icon-"],
  [class*=" wl-icon-"] {
    @extend %wl-icon;
  }

  .el-button [class*=wl-icon-]+span {
    margin-left: 5px;
  }
  
  .wl-icon {
    @extend %wl-icon;
  
    // 消息
    &-msg::before { content: "\e61e"; }
  
    // 退出登陆
    &-exit::before { content: "\e819"; }

    // 导航展开
    &-expend::before { content: "\e615"; }

    // 个人中心
    &-user::before { content: "\e610"; }

    // 首页
    &-main::before { content: "\e638"; }

    // 用户管理
    &-user-set::before { content: "\e70c"; }

    // 项目管理
    &-project-set::before { content: "\e613"; }

    // 部署中心
    &-deploy-set::before { content: "\e660"; }

    // 空间管理
    &-space-set::before { content: "\e62a"; }

    // 冻结账户
    &-lock::before { content: "\e616"; }

    // 保存
    &-save::before { content: "\e636"; }

    // 删除
    &-delete::before { content: "\e629"; }

    // 邮箱
    &-email::before { content: "\e61f"; }

    // 密码
    &-password::before { content: "\e608"; }

    // 帮助
    &-help::before { content: "\e60e"; }

  }
  